.search-bar {
  margin: 0 auto 10px auto;
  display: flex;
}

.movie-card {
  margin: 20px !important;
}

.dimmer .content {
  background-color: transparent;
}

.result-description {
  color: white !important;
}

.show-more-button {
  margin: 20px auto 75px auto !important;
  display: flex !important;
  padding: 10px 100px !important;
}
